[submodule "CMEPS/CMEPS"]
	path = CMEPS/CMEPS
	url = https://github.com/ESCOMP/CMEPS
[submodule "CDEPS/CDEPS"]
	path = CDEPS/CDEPS
	url = https://github.com/ESCOMP/CDEPS
[submodule "share/CESM_share"]
	path = share/CESM_share
	url = https://github.com/ESCOMP/CESM_share.git
[submodule "share/genf90"]
	path = share/genf90
	url = https://github.com/PARALLELIO/genf90.git
