spack:
  specs:
  - access3 @git.{{ ref }}=stable configurations={{ all_configurations }}
  packages:
    access3-share:
      require:
        '@git.{{ ref }}=stable'
    gcc:
      require:
      - '@{{ gcc_compiler_version }}'
    all:
      require:
      - '%access_gcc'
      - target={{ target }}
  concretizer:
    unify: false
  view: false
