spack:
  specs:
  - access3 @git.{{ ref }}=stable configurations={{ all_configurations }}
  packages:
    access3-share:
      require:
        '@git.{{ ref }}=stable'
    all:
      require:
      - '%{{ intel_compiler }} target={{ target }}'
  concretizer:
    unify: false
  view: false
