spack:
  specs:
  - access3-share @git.{{ ref }}=stable
  - access3-share @git.{{ ref }}=stable +openmp
  packages:
    intel-oneapi-compilers-classic:
      require:
      - '@{{ intel_compiler_version }}'
    all:
      require:
      - '%access_intel'
      - target={{ target }}
  concretizer:
    unify: false
  view: false
