spack:
  include:
  # Include configuration from this repository, with the environment variable defined in build-ci
  - path: $SPACK_MANIFEST_REPOSITORY_PATH/.github/build-ci/config
  specs:
  - access3-share @git.{{ ref }}=stable %%access_intel
  - access3-share @git.{{ ref }}=stable +openmp %%access_intel
  packages:
    # We pin a version of python as spack v1.1 has trouble building the default latest 
    # python@3.14.3%intel@2021.10.0 due to a segfault. 
    python:
      require:
      - '@3.11.14'
  view: false
