spack:
  specs:
  - access3 @git.{{ ref }}=stable configurations={{ om3_configurations }}
  packages:
    access3-share:
      require:
        '@git.{{ ref }}=stable'
    gcc-runtime:
      require:
        '%access_gcc'
    intel-oneapi-compilers:
      require:
      - '@{{ oneapi_compiler_version }}'
    all:
      require:
      - '%access_oneapi'
      - target={{ target }}
  concretizer:
    unify: false
  view: false
